/* css externo */


.material-icons {
  font-size: 50px;
  color: var(--cor-casa);
  vertical-align: middle;
  transition: transform 0.3s ease, color 0.3s ease;
}

.titulo-inicio{
 text-align: center;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
    text-align: center;
}

/* tema primcipal */
:root {
  --cor-primaria: rgb(0, 73, 230);
  --cor-secundaria: rgb(255, 255, 255);
  --cor-gradiente: linear-gradient(to right, rgb(0, 73, 230), rgb(0, 172, 235));
  --cor-botao: rgb(0, 73, 230);
  --cor-fundo: rgb(255, 255, 255);
  --cor-fundo2: rgb(255, 255, 255);
  --cor-texto: rgb(0, 0, 0);
  --cor-secundaria-texto: rgb(255, 255, 255);
  --cor-border: #4e4e4e;
  --cor-houver: rgb(6, 63, 219);
  --cor-border2: #ccc;
  --cor-terciaria: #333;
  --cor-link: #007bff;
  --cor-link-houver: #8dc4ff;
  --cor-sombra: rgba(0, 0, 0, 0.3);
  --cor-casa: rgb(255, 255, 255);
}

[data-theme="dark"] {
  --cor-primaria: rgb(0, 73, 230);
  --cor-secundaria: rgb(0, 172, 235);
  --cor-gradiente: linear-gradient(to right, rgb(0, 73, 230), rgb(0, 172, 235));
  --cor-botao: rgb(0, 73, 230);
  --cor-fundo: rgb(44, 44, 44);
  --cor-fundo2: rgb(58, 58, 58);
  --cor-texto: rgb(255, 255, 255);
  --cor-secundaria-texto: rgb(255, 255, 255);
  --cor-border: #4e4e4e;
  --cor-houver: rgb(6, 63, 219);
  --cor-border2: #4b4b4b;
  --cor-terciaria: #333;
  --cor-link: #0055ff;
  --cor-link-houver: #3f9cff;
  --cor-sombra: rgba(0, 0, 0, 0.868);
  --cor-casa: rgb(255, 255, 255);
}

[data-theme="contrast"] {
  --cor-primaria: rgb(255, 255, 255);
  --cor-secundaria: rgb(0, 0, 0);
  --cor-gradiente: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  --cor-botao: rgb(255, 255, 255);
  --cor-fundo: rgb(0, 0, 0);
  --cor-fundo2: #000000;
  --cor-texto: rgb(255, 255, 255);
  --cor-secundaria-texto: rgb(0, 0, 0);
  --cor-border: #eeff00;
  --cor-houver: #eeff00;
  --cor-border2: #eeff00;
  --cor-terciaria: #333;
  --cor-link: #ffffff;
  --cor-link-houver: #000000;
  --cor-sombra: rgb(0, 0, 0);
  --cor-casa: rgb(0, 0, 0);
}

header ul li a {
    text-decoration: none;
    color:var(--cor-secundaria-texto);
    display: flex;
    align-items: center;
}



body {
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    background-color: var(--cor-fundo);
  }

section img{
  float: left;
  border-radius: 50%; /* opcional: deixa a imagem com cantos arredondados */
  box-shadow: 0 4px 10px var(--cor-sombra); /* opcional: sombreamento bonito */
  margin: 0 2rem 1rem 0;
  width: 30vw;
  border: 3px solid var(--cor-primaria)
}

h1, h2{
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-texto);

}


h3{
    font-size: 22px;
    font-weight: bold;
    color: var(--cor-texto);
}

header {
    background-image: var(--cor-gradiente);
    /* 1° valor = em cima e em baixo
        2° valor = do lado e do outro */
    padding: 1rem 1rem;
    box-shadow: 0 4px 9px var(--cor-sombra);
    position: sticky;
    top: 0;

}

header ul {
    display: flex;
    justify-content: center;
    gap: 1rem
}

header a {
    color:var(--cor-secundaria-texto);
    font-weight: 700;
    padding: .5rem 1rem;
}

header a:hover{
    background-color:var(--cor-houver);
    border-radius: 8px;
    transform: scale(1.05);
    transition: transform 0.2s ease;
}


section {
    min-height: 100px; 
    margin: 4vh 2vh;
    padding: 2rem;
    background-color: var(--cor-fundo);
    text-align: justify;
}

#sobreMim{
  margin: 1rem, 1rem, ;
}




.titulo-secao {
    text-align: right;
    margin-bottom: 2rem;
}

.cards-em-linha {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

p {
    margin-bottom: 1rem;
    color: var(--cor-texto);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;

}

input[type="text"],input[type="email"], textarea{
    border: 1px solid var(--cor-border);
    border-radius: 4px;
    padding: .25rem ,75rem;
    color: var(--cor-texto);
    resize: none;
}

input[type="submit"]{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria-texto);
    padding: .25rem ,75rem;
    border: 5px solid var(--cor-primaria);
    font-weight: 700;
    font-style: bold;
    border-radius: 8px;
}



.card {
    border: 1px solid var(--cor-border2);
    border-radius: 6px;
    padding: 16px;
    margin: 16px 0;
    background-color: var(--cor-fundo2);
    box-shadow: 0 2px 6px var(--cor-sombra);
  }
  
  .card h3, .card h4 {
    margin-top: 0;
  }
  
  .card p {
    margin: 8px 0 0;
    line-height: 1.5;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 24px;
  }
  
  .card {
    border: 1px solid var(--cor-border2);
    border-radius: 8px;
    background-color: var(--cor-fundo2);
    padding: 16px;
    text-align: left;
    box-shadow: 0 2px 6px var(--cor-sombra);
    transition: transform 0.2s ease;
  }

  .titulo {
    text-align: center;
  }
  .card h3{
    text-align: left;
  }
  
  .card:hover {
    transform: scale(1.02);
  }

  #formacaoAcademica .card-titulomenor{
    text-align: left;
  }
  
  .cards-container h3 {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
  }

  
  .cards-container p {
    margin: 8px 0 0;
    font-size: 14px;
    color: var(--cor-texto);
    text-align: center;
  }

  .card-imagem img {
    width: 100%;
    border-radius: 8px;
  }

  .card-icone {
    text-align: center;
    font-size: 2rem;
  }

  .card-descricao {
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: var(--cor-texto);
  }

  .botao {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    margin: 0.3rem 0.3rem 0 0;
  }

  .botao:hover {
    cursor: pointer;
    background-image: var(--cor-gradiente);
  }

  .botao-demo,
  .botao-continue {
    background-image: var(--cor-gradiente);
    color: var(--cor-texto);
  }

  .botao-compartilhar {
    background-color: var(--cor-primaria);
  }

  .botao-compartilhar:hover {
    background-color: var(--cor-secundaria);
  }

  .artigos {
    justify-content: space-evenly;
  }

  .artigos header {
    background-color: none;
    box-shadow: none;
  }

  .artigos article{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 1rem;
    border-left: 5px solid var(--cor-primaria);
    margin-bottom:1rem;
    border-radius: 8px;
  }

  .titulo-artigos {
    text-align: center;
    padding-bottom: 3rem;
  }

#softSkills .cards-container {
    display: list-item;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1000fr));
    gap: 16px;
    margin-top: 20px;
  }
  
  #softSkills .card {
    background-color: var(--cor-fundo2);
    border: 1px solid var(--cor-border2);
    border-radius: 10px;
    padding: 7px;
    text-align: center;
    box-shadow: 0 2px 5px var(--cor-sombra);
    transition: transform 0.2s ease;
  }
  
  #softSkills .card:hover {
    transform: scale(1.02);
  }
  
  #softSkills .card p {
    font-size: 14px;
    color: var(--cor-texto);
    margin: 0;
  }
  
  /* Projetos - retângulos */
  .retangulos-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }
  
  .retangulo {
    background-color: var(--cor-fundo2);
    border: 1px solid var(--cor-border2);
    border-radius: 8px;
    padding: 16px 20px;
    box-shadow: 0 2px 5px var(--cor-sombra);
    transition: transform 0.2s ease;
  }
  
  

.retangulo:hover h3,
.retangulo:hover p{
  color: var(--cor-secundaria-texto);
}
.retangulo:hover a {
  color: var(--cor-link-houver);
}


  
  .retangulo h3 {
    margin: 0 0 8px;
    font-size: 18px;
    color: var(--cor-texto);
    text-align: left;
  }
  
  .retangulo p {
    margin: 0;
    font-size: 14px;
    color: var(--cor-texto);
  }

  .retangulo:hover {
    background-image: var(--cor-gradiente);
    padding: 50px;
    transform: scale(1.02);
    text-align: left;
}

.retangulo:hover p{
  font-size: 20px;
  text-align: center;
}

.retangulo:hover h3{
  font-size: 30px;
  text-align: center;
}


  
  .retangulo a{
    color: var(--cor-link);
    text-decoration: none;
    font-weight: bold;
  }

  .retangulo a:hover {
    text-decoration: underline
  }

  .card b {
    color: var(--cor-texto);
  }
  
  section a {
    text-align: center;
    color: var(--cor-link);
  }

  section a:hover {
    text-decoration: underline;
    color: var(--cor-link-houver);
    background-color:var(--cor-houver);
    border-radius: 8px;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    text-align: center;
  }
  
  

  
